.header{ 
    background-color: rgba(180 1 1); 
}
.container .button {
    background-color: rgba(180 1 1);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
.col-8{
    padding: 15px;
}
.col-4{
    padding: 15px;
}

.img1{
    background-image: url(/montclair1.jpg);
    background-size: cover;
    background-position: center center;
}
.img2{
    background-image: url(/montclair2.jpg);
    background-size: cover;
    background-position: center center;
}
.img3{
    background-image: url(/montclair3.jpg);
    background-size: cover;
    background-position: center center;
}
.img4{
    background-image: url(/montclair4.jpg);
    background-size: cover;
    background-position: center center;  
}